# The Goal of this project

1. Get familiar with python libraries pandas, numpy, matplotlit, searborn, sklearn; 
2. data cleaning by python; 
3. data visualization by python; 
4. building machine learning models by sklearn;

data set 
#https://www.kaggle.com/datasets/andrewmvd/data-scientist-jobs
#https://www.kaggle.com/datasets/andrewmvd/data-analyst-jobs
#https://www.kaggle.com/datasets/nikhilbhathi/data-scientist-salary-us-glassdoor
#https://www.kaggle.com/datasets/andrewmvd/data-analyst-jobs
#https://www.kaggle.com/datasets/amirmotefaker/ab-testing-dataset

the data set used in this project is data-analyst-jobs, data-scientist-salary-us-glassdoor

NumPy = numerical computation
Pandas = structured data analysis & manipulation

In [112]:
# library 
# matplotlit, searborn, sklearn
import pandas as pd
import numpy as np

In [113]:
filepath_datascientist = r"C:\Users\yao_q\Documents\1-2- Enhance Skills_ Coursera_ PrepareTechInterview !!!\3- my project in 2025\data scientist jobs data\dataScientist_cleaned_2021.csv"
filepath_dataanalyst = r"C:\Users\yao_q\Documents\1-2- Enhance Skills_ Coursera_ PrepareTechInterview !!!\3- my project in 2025\data scientist jobs data\DataAnalyst.csv"

In [114]:
#df_analyst = pd.read_csv(filepath_dataanalyst)
#df_analyst.head(5)
#df_analyst.columns

In [115]:
df_scientist = pd.read_csv(filepath_datascientist)
df_scientist.head(5)

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,tensor,hadoop,tableau,bi,flink,mongo,google_an,job_title_sim,seniority_by_title,Degree
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 - 1000,1973,...,0,0,1,1,0,0,0,data scientist,na,M
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+,1984,...,0,0,0,0,0,0,0,data scientist,na,M
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 - 1000,2010,...,0,0,0,0,0,0,0,data scientist,na,M
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 - 5000,1965,...,0,0,0,0,0,0,0,data scientist,na,na
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 - 200,1998,...,0,0,0,0,0,0,0,data scientist,na,na

In [116]:
df_scientist.columns

Index(['index', 'Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Hourly', 'Employer provided', 'Lower Salary', 'Upper Salary',
       'Avg Salary(K)', 'company_txt', 'Job Location', 'Age', 'Python',
       'spark', 'aws', 'excel', 'sql', 'sas', 'keras', 'pytorch', 'scikit',
       'tensor', 'hadoop', 'tableau', 'bi', 'flink', 'mongo', 'google_an',
       'job_title_sim', 'seniority_by_title', 'Degree'],
      dtype='object')

In [117]:
df_scientist = df_scientist.drop_duplicates()

In [118]:
df_scientist.shape

(742, 42)

In [119]:
df_scientist["Salary Estimate"] = df_scientist["Salary Estimate"].str.replace(r'\(Glassdoor est.\)', '', regex=True)

In [120]:
df_scientist.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,tensor,hadoop,tableau,bi,flink,mongo,google_an,job_title_sim,seniority_by_title,Degree
0,0,Data Scientist,$53K-$91K,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 - 1000,1973,...,0,0,1,1,0,0,0,data scientist,na,M
1,1,Healthcare Data Scientist,$63K-$112K,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+,1984,...,0,0,0,0,0,0,0,data scientist,na,M
2,2,Data Scientist,$80K-$90K,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 - 1000,2010,...,0,0,0,0,0,0,0,data scientist,na,M
3,3,Data Scientist,$56K-$97K,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 - 5000,1965,...,0,0,0,0,0,0,0,data scientist,na,na
4,4,Data Scientist,$86K-$143K,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 - 200,1998,...,0,0,0,0,0,0,0,data scientist,na,na

In [121]:
# 1. Remove '$' and 'K'
df_scientist["Salary Estimate"] = df_scientist["Salary Estimate"].str.replace(r'[\$K]', '', regex=True)

In [122]:
df_scientist[['Salary_Min', 'Salary_Max']] = df_scientist["Salary Estimate"].str.split('-', expand=True)

In [123]:
df_scientist.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,tableau,bi,flink,mongo,google_an,job_title_sim,seniority_by_title,Degree,Salary_Min,Salary_Max
0,0,Data Scientist,53-91,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 - 1000,1973,...,1,1,0,0,0,data scientist,na,M,53,91
1,1,Healthcare Data Scientist,63-112,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+,1984,...,0,0,0,0,0,data scientist,na,M,63,112
2,2,Data Scientist,80-90,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 - 1000,2010,...,0,0,0,0,0,data scientist,na,M,80,90
3,3,Data Scientist,56-97,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 - 5000,1965,...,0,0,0,0,0,data scientist,na,na,56,97
4,4,Data Scientist,86-143,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 - 200,1998,...,0,0,0,0,0,data scientist,na,na,86,143

In [124]:
df_scientist = df_scientist.drop(columns = "Salary Estimate")
df_scientist.head()

,index,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,tableau,bi,flink,mongo,google_an,job_title_sim,seniority_by_title,Degree,Salary_Min,Salary_Max
0,0,Data Scientist,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 - 1000,1973,Company - Private,...,1,1,0,0,0,data scientist,na,M,53,91
1,1,Healthcare Data Scientist,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+,1984,Other Organization,...,0,0,0,0,0,data scientist,na,M,63,112
2,2,Data Scientist,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 - 1000,2010,Company - Private,...,0,0,0,0,0,data scientist,na,M,80,90
3,3,Data Scientist,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 - 5000,1965,Government,...,0,0,0,0,0,data scientist,na,na,56,97
4,4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 - 200,1998,Company - Private,...,0,0,0,0,0,data scientist,na,na,86,143

In [125]:
df_scientist = df_scientist.drop(columns = "google_an")
df_scientist.head()

,index,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,hadoop,tableau,bi,flink,mongo,job_title_sim,seniority_by_title,Degree,Salary_Min,Salary_Max
0,0,Data Scientist,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 - 1000,1973,Company - Private,...,0,1,1,0,0,data scientist,na,M,53,91
1,1,Healthcare Data Scientist,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+,1984,Other Organization,...,0,0,0,0,0,data scientist,na,M,63,112
2,2,Data Scientist,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 - 1000,2010,Company - Private,...,0,0,0,0,0,data scientist,na,M,80,90
3,3,Data Scientist,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 - 5000,1965,Government,...,0,0,0,0,0,data scientist,na,na,56,97
4,4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 - 200,1998,Company - Private,...,0,0,0,0,0,data scientist,na,na,86,143

In [126]:
df_scientist.columns

Index(['index', 'Job Title', 'Job Description', 'Rating', 'Company Name',
       'Location', 'Headquarters', 'Size', 'Founded', 'Type of ownership',
       'Industry', 'Sector', 'Revenue', 'Competitors', 'Hourly',
       'Employer provided', 'Lower Salary', 'Upper Salary', 'Avg Salary(K)',
       'company_txt', 'Job Location', 'Age', 'Python', 'spark', 'aws', 'excel',
       'sql', 'sas', 'keras', 'pytorch', 'scikit', 'tensor', 'hadoop',
       'tableau', 'bi', 'flink', 'mongo', 'job_title_sim',
       'seniority_by_title', 'Degree', 'Salary_Min', 'Salary_Max'],
      dtype='object')

In [127]:
cols = ['index', 'Job Title', 'Job Description', 'Company Name', 'Location', 'Headquarters',
        'Python', 'spark', 'aws', 'excel', 'sql', 'sas', 'keras', 'pytorch', 'scikit', 'tensor', 'hadoop', 'tableau', 'bi', 'flink', 'mongo']
df_scientist_skills = df_scientist[cols]
df_scientist_skills.to_csv("df_scientist_skills.csv")

In [128]:
cols2 = ['index', 'Job Title', 'Rating', 'Company Name',
       'Location', 'Headquarters', 'Size', 'Founded', 'Type of ownership',
       'Industry', 'Sector', 'Revenue', 'Competitors', 'Hourly',
       'Employer provided', 'Salary_Min', 'Salary_Max', 'Lower Salary', 'Upper Salary', 'Avg Salary(K)',
       'company_txt', 'Job Location', 'Age', 'job_title_sim', 'seniority_by_title', 'Degree']

df_scientist_job = df_scientist[cols2]
df_scientist_job.to_csv("df_scientist_job.csv")