In [56]:
import pandas as pd
import numpy as np

In [57]:
df_scientist_job = pd.read_csv("df_scientist_job.csv", index_col=0)
df_scientist_job.head(5)

,index,Job Title,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,...,Salary_Max,Lower Salary,Upper Salary,Avg Salary(K),company_txt,Job Location,Age,job_title_sim,seniority_by_title,Degree
0,0,Data Scientist,3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 - 1000,1973,Company - Private,Aerospace & Defense,...,91,53,91,72.0,Tecolote Research,NM,48,data scientist,na,M
1,1,Healthcare Data Scientist,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+,1984,Other Organization,Health Care Services & Hospitals,...,112,63,112,87.5,University of Maryland Medical System,MD,37,data scientist,na,M
2,2,Data Scientist,4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 - 1000,2010,Company - Private,Security Services,...,90,80,90,85.0,KnowBe4,FL,11,data scientist,na,M
3,3,Data Scientist,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 - 5000,1965,Government,Energy,...,97,56,97,76.5,PNNL,WA,56,data scientist,na,na
4,4,Data Scientist,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 - 200,1998,Company - Private,Advertising & Marketing,...,143,86,143,114.5,Affinity Solutions,NY,23,data scientist,na,na

In [58]:
df_scientist_job['Company Name'] = df_scientist_job['Company Name'].str.replace(r'\n\d+(\.\d+)?', '', regex=True)

In [59]:
df_scientist_job[['Location_City', 'Location_State']] = df_scientist_job['Location'].str.split(', ', n=1, expand=True)
#df_scientist_job[['Location_City', 'Location_State']] = df_scientist_job['Location'].str.split(', ', expand=True)

In [60]:
df_scientist_job = df_scientist_job.drop(columns = "Location")
df_scientist_job.head(5)

,index,Job Title,Rating,Company Name,Headquarters,Size,Founded,Type of ownership,Industry,Sector,...,Upper Salary,Avg Salary(K),company_txt,Job Location,Age,job_title_sim,seniority_by_title,Degree,Location_City,Location_State
0,0,Data Scientist,3.8,Tecolote Research,"Goleta, CA",501 - 1000,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,...,91,72.0,Tecolote Research,NM,48,data scientist,na,M,Albuquerque,NM
1,1,Healthcare Data Scientist,3.4,University of Maryland Medical System,"Baltimore, MD",10000+,1984,Other Organization,Health Care Services & Hospitals,Health Care,...,112,87.5,University of Maryland Medical System,MD,37,data scientist,na,M,Linthicum,MD
2,2,Data Scientist,4.8,KnowBe4,"Clearwater, FL",501 - 1000,2010,Company - Private,Security Services,Business Services,...,90,85.0,KnowBe4,FL,11,data scientist,na,M,Clearwater,FL
3,3,Data Scientist,3.8,PNNL,"Richland, WA",1001 - 5000,1965,Government,Energy,"Oil, Gas, Energy & Utilities",...,97,76.5,PNNL,WA,56,data scientist,na,na,Richland,WA
4,4,Data Scientist,2.9,Affinity Solutions,"New York, NY",51 - 200,1998,Company - Private,Advertising & Marketing,Business Services,...,143,114.5,Affinity Solutions,NY,23,data scientist,na,na,New York,NY

In [61]:
df_scientist_job[['Headquarters_City', 'Headquarters_State']] = df_scientist_job['Headquarters'].str.split(', ', expand=True)

In [62]:
df_scientist_job = df_scientist_job.drop(columns = "Headquarters")
df_scientist_job.head(5)

,index,Job Title,Rating,Company Name,Size,Founded,Type of ownership,Industry,Sector,Revenue,...,company_txt,Job Location,Age,job_title_sim,seniority_by_title,Degree,Location_City,Location_State,Headquarters_City,Headquarters_State
0,0,Data Scientist,3.8,Tecolote Research,501 - 1000,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),...,Tecolote Research,NM,48,data scientist,na,M,Albuquerque,NM,Goleta,CA
1,1,Healthcare Data Scientist,3.4,University of Maryland Medical System,10000+,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),...,University of Maryland Medical System,MD,37,data scientist,na,M,Linthicum,MD,Baltimore,MD
2,2,Data Scientist,4.8,KnowBe4,501 - 1000,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),...,KnowBe4,FL,11,data scientist,na,M,Clearwater,FL,Clearwater,FL
3,3,Data Scientist,3.8,PNNL,1001 - 5000,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),...,PNNL,WA,56,data scientist,na,na,Richland,WA,Richland,WA
4,4,Data Scientist,2.9,Affinity Solutions,51 - 200,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,...,Affinity Solutions,NY,23,data scientist,na,na,New York,NY,New York,NY

In [64]:
df_scientist_job.columns

Index(['index', 'Job Title', 'Rating', 'Company Name', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Hourly', 'Employer provided', 'Salary_Min', 'Salary_Max',
       'Lower Salary', 'Upper Salary', 'Avg Salary(K)', 'company_txt',
       'Job Location', 'Age', 'job_title_sim', 'seniority_by_title', 'Degree',
       'Location_City', 'Location_State', 'Headquarters_City',
       'Headquarters_State'],
      dtype='object')

In [65]:
df_scientist_job = df_scientist_job.drop(columns = "Hourly")

In [66]:
df_scientist_job = df_scientist_job.drop(columns = "Employer provided")

In [67]:
df_scientist_job.to_csv("df_scientist_job_2.csv")